header {
  position: relative;
  padding: 10px 110px 0 130px;
  background-image: url(../../../public/images/main-bg.jpg);
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 22px 0;
  width: 100%;
}
.header nav {
  width: 54%;
}
.header ul {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  /* background-color: aliceblue; */
  /* width: 100%; */
}
.header ul li {
  /* margin-left: 40px; */
  font-size: 18px;
}
.header ul li a {
  color: #fff;
}
.hamburger {
  position: absolute;
  left: 0;
}
.line__button {
  position: relative;
  height: 50px;
  width: 50px;
  top: 0px;
  cursor: pointer;
}
.line {
  height: 3px;
  border-radius: 6px;
  background-color: #ffffff;
  position: absolute;
  left: 50%;
  transition: 1s all;
}
.line-1 {
  top: 30%;
  width: 20px;
}
.line-2 {
  top: 50%;
  width: 40px;
}
.line-3 {
  top: 70%;
  width: 30px;
}

.header-logo {
  /* background-color: aliceblue; */
  /* margin-right: 40px; */
  /* padding-right: 50px; */
}
.header__buttons button {
  margin-right: 30px;
  background: none;
  outline: none;
  border: none;
  color: #fff;
}
.moblie-menu-top {
  display: none;
}
header .corner {
  position: absolute;
  z-index: 30;
}
.moblie-menu-top .corner.right {
  right: -1px;
  bottom: -37px;
}
.moblie-menu-top .corner.left {
  left: 2px;
  bottom: -33px;
  transform: rotate(270deg);
}
.moblie-menu-top button,
.moblie-menu-bottom button {
  background: none;
  outline: none;
  border: none;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
}
.moblie-menu-bottom {
  display: none;
}
header .bottom-right {
  right: 2px;
  bottom: 49px;
  transform: rotate(90deg);
}
header .bottom-left {
  left: -1px;
  bottom: 53px;
  transform: rotate(180deg);
}

/* responsive */
@media only screen and (max-width: 1300px) {
  .header {
    padding: 8px 0;
  }
  .header nav {
    width: 38%;
  }
  .header ul li {
    font-size: 15px;
  }
}

@media only screen and (max-width: 1079px) {
  .header {
    display: none;
  }
  .moblie-menu-top,
  .moblie-menu-bottom {
    display: block;
    z-index: 10;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background: white;
    color: #000;
    height: 55px;
    padding: 0 2rem;
  }

  .moblie-menu-top {
    flex-direction: row-reverse;
    top: 0;
    left: 0;
  }
  .moblie-menu-bottom {
    bottom: 0;
    left: 0;
    flex-direction: row;
  }
}
