.header_page {
  position: relative;
}
header {
  position: relative;
  padding: 10px 110px 0 130px;
  background-image: url(../../../public/images/main-bg.jpg);
}
.header {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.header nav {
  width: 54%;
  padding: 9px 0;
}
.header .navbar__header {
  display: flex;
  justify-content: space-between;
  position: relative;
}
.header .navbar__header li {
  font-size: 18px;
  padding: 0.8rem 0.8rem 0.5rem;
}
.header .navbar__header li > span {
  display: flex;
  align-items: center;
}
.navbar__header__corner {
  position: absolute;
  left: 82%;
  transform: rotate(90deg);
  top: 34%;
}
.header .navbar__header li a {
  color: #fff;
  margin-left: 6px;
}
.header .navbar__header li > span svg {
  transition: all 0.3s ease-in-out;
}
.header .navbar__header li:hover > span svg {
  transform: rotate(180deg);
}
.menu__item__sub__men {
  position: absolute;
  right: -10px;
}
.menu__item__sub__women {
  position: absolute;
  right: 110px;
}
.navbar__sub {
  z-index: 999;
  background-color: #fff;
  position: relative;
  border-radius: 10px;
  display: none;
  padding: 10px;
}
.navbar__sub::after {
  content: "";
  width: 25px;
  height: 25px;
  background-color: #fff;
  position: absolute;
  top: -1%;
  transform: rotate(45deg);
  right: 16%;
}
.navbar__sub.active {
  margin-top: 10px;
  display: block;
  animation: showSub 0.4s ease 1;
}
@keyframes showSub {
  0% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}
.navbar__sub a {
  color: #000 !important;
  font-size: 17px;
  transition: all 0.2s ease;
}
.navbar__sub li a:hover {
  color: var(--color1) !important;
}
.hamburger {
  position: absolute;
  left: 0;
  z-index: 101;
}
.line__button {
  position: relative;
  height: 50px;
  width: 50px;
  top: 0px;
  cursor: pointer;
}

.line {
  height: 3px;
  border-radius: 6px;
  background-color: #000;
  position: absolute;
  left: 50%;
  transition: 0.4s all;
}
.line-1 {
  top: 30%;
  width: 20px;
}
.line__button.open .line-1 {
  transform: rotate(90deg) translate(20px, 10px);
}
.line-2 {
  top: 50%;
  width: 40px;
}
.line__button.open .line-2 {
  width: 35px;
  transform: rotate(225deg) translate(-5px, -13px);
}
.line-3 {
  top: 70%;
  width: 30px;
}
.line__button.open .line-3 {
  transform: translatey(-9px) translate(-1px);
  width: 20px;
}
.header__buttons button {
  margin-right: 30px;
  background: none;
  outline: none;
  border: none;
  color: #fff;
  cursor: pointer;
}
.cart__icon {
  position: relative;
}
.cart__button__quantity {
  position: absolute;
  left: -15px;
  top: -8px;
  color: #fff;
  background: rgba(235, 116, 0, 0.85);
  padding: 5px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  line-height: 1;
  font-size: 14px;
}
.moblie-menu-top {
  display: none;
}
header .corner {
  position: absolute;
  z-index: 30;
}
.moblie-menu-top .corner.right {
  right: -1px;
  bottom: -37px;
}
.moblie-menu-top .corner.left {
  left: 2px;
  bottom: -33px;
  transform: rotate(270deg);
}
.moblie-menu-top button,
.moblie-menu-bottom button {
  background: none;
  outline: none;
  border: none;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
}
.moblie-menu-bottom {
  display: none;
}
header .bottom-right {
  right: 2px;
  bottom: 49px;
  transform: rotate(90deg);
}
header .bottom-left {
  left: -1px;
  bottom: 53px;
  transform: rotate(180deg);
}

/* responsive */
@media only screen and (max-width: 1300px) {
  .header {
    padding: 8px 0;
  }
  .header nav {
    width: 38%;
  }
  .header ul li {
    font-size: 15px;
  }
}

@media only screen and (max-width: 1079px) {
  .header {
    display: none;
  }
  .moblie-menu-top,
  .moblie-menu-bottom {
    display: block;
    z-index: 10;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background: white;
    color: #000;
    height: 55px;
    padding: 0 2rem;
  }

  .moblie-menu-top {
    flex-direction: row-reverse;
    top: 0;
    left: 0;
  }
  .moblie-menu-bottom {
    bottom: 0;
    left: 0;
    flex-direction: row;
  }
}

/* navigation popup */
.navigation__popup {
  position: fixed;
  width: 0;
  height: 0;
  z-index: 7;
  display: flex;
  direction: ltr;
  top: 0;
  left: 0;
  bottom: 0;
  transition: all 0.7s ease-in-out;
}
.navigation__popup.open {
  width: 99vw;
  height: 100vh;
}
.navigation__popup__left {
  position: relative;
  overflow: hidden;
  width: 50%;
  height: 100%;
}
.navigation__popup__left > div,
.navigation__popup__right > div {
  width: 100%;
  height: 100%;
}
.navigation__popup__left > div {
  background-color: #fff;
}
.open .navigation__popup__left > div {
  animation: openLeft-4e4262a7 var(--transition-time);
}
.navigation__popup__left__lottie_bg svg {
  width: 100%;
  height: 100%;
  transform: translate3d(0px, 0px, 0px);
  content-visibility: visible;
}
.navigation__popup__left nav {
  position: absolute;
  right: 70px;
  bottom: 60px;
  color: #000;
  font-size: 29px;
}

.navigation__popup__left nav li {
  margin-bottom: 39px;
  position: relative;
  display: flex;
  justify-content: right;
  transform: translate(-800px);
  transition: all 0.4s ease-in-out;
  transition-delay: 0.3s;
}
.navigation__popup.open nav ul li {
  transform: translate(1px);
}
.navigation__popup__left nav li a {
  font-size: 26px;
  transition: all 0.2s ease;
}
.navigation__popup__left nav li a:hover {
  color: var(--color1);
}
.navigation__popup__left li .line-1 {
  height: 0.1rem;
  background: var(--color1);
  opacity: 0;
  width: 0;
  transition: 0.2s all;
  position: absolute;
  right: 0;
  top: 47px;
}
.navigation__popup__left li:hover .line-1 {
  opacity: 1;
  width: 100%;
  transition: 0.3s all;
}
