.footer {
  color: #e5e5e5;
  padding: 4rem;
  display: flex;
  justify-content: space-around;
  direction: rtl;
}
.footer__info {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 15px;
}
.footer__title {
  color: var(--color1);
  font-size: 1.15rem;
  text-align: center;
  margin-bottom: 2rem;
  height: 3rem;
}
.footer__info__address {
  width: 270px;
  font-style: normal;
}
.footer__info__email,
.footer__info__telephone {
  display: flex;
  align-items: center;
  color: inherit;
}
.footer__info__email svg,
.footer__info__telephone svg {
  margin-left: 10px;
}
.footer__info__email {
  transition: 0.2s all;
}
.footer__info__email:hover {
  color: var(--color1);
}
.footer__menu__list {
  column-count: 2;
  list-style: none;
  padding: 0;
}
.footer__menu__list li {
  padding: 0.7rem 0.7rem 0.7rem 1rem;
}
.footer__menu__list li:before {
  content: "\2022";
  color: var(--color1);
  font-weight: 700;
  display: inline-block;
  width: 1em;
  margin-left: 0.3rem;
}
.footer__menu__list li a {
  transition: 0.2s all;
}
.footer__menu__list li a:hover {
  color: var(--color1);
}
.footer__enamad__images img {
  max-width: 90px;
}

/* footer bottom */
.footer__bottom {
  display: flex;
  justify-content: space-between;
  background: black;
  padding: 0 5% 2rem;
  color: var(--color1);
  position: relative;
  direction: rtl;
}
.footer__bottom:before {
  content: "";
  background: var(--color1);
  width: 80%;
  height: 0.1rem;
  position: absolute;
  left: 50%;
  top: -25px;
  transform: translate(-50%);
}
.footer__bottom a {
  color: #e5e5e5;
  position: relative;
}
.footer__bottom__english__copyright a:before {
  content: "";
  position: absolute;
  background: #e5e5e5;
  width: 93%;
  height: 0.05rem;
  bottom: 5px;
  left: 4px;
}
