:root {
  --color1: #eb7400;
  --color1hover: #fa8e2c;
  --color2: #000;
  --color2hover: #5d5d5d;
  --color3: #e5e5e5;
  --color4: rgba(229, 229, 229, 0.53);
  --color4hover: rgba(250, 239, 239, 0.53);
  --header-bg: rgba(73, 73, 73, 0.65);
  --header-bg2: rgba(86, 79, 79, 0.4);
  --colorgraylow: #d0d0d0;
  --colordanger: #ff5656;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "vazir", sans-serif;
  color: #fff;
}

a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style: none;
}
img {
  user-select: none;
  -webkit-user-drag: none;
}
button {
  background: none;
  outline: none;
  border: none;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
}
video {
  object-fit: contain;
  overflow-clip-margin: content-box;
  overflow: clip;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.has-padding {
  padding: 0 6rem;
}

::-webkit-scrollbar {
  background-color: #000;
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: #eb7400;
  border-radius: 10px;
}
.slider {
  margin-top: 400px;
}
.bg__dark {
  background-image: url(../public/images/main-bg.jpg);
  padding-bottom: 50px;
  user-select: none;
}
