:root {
  --color1: #eb7400;
  --color1hover: #fa8e2c;
  --color2: #000;
  --color2hover: #5d5d5d;
  --color3: #e5e5e5;
  --color4: rgba(229, 229, 229, 0.53);
  --color4hover: rgba(250, 239, 239, 0.53);
  --header-bg: rgba(73, 73, 73, 0.65);
  --header-bg2: rgba(86, 79, 79, 0.4);
  --colorgraylow: #d0d0d0;
  --colordanger: #ff5656;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "vazir", sans-serif;
  color: #fff;
}

a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style: none;
}
img {
  user-select: none;
  -webkit-user-drag: none;
}
button {
  background: none;
  outline: none;
  border: none;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
}
input {
  font-family: inherit;
}
video {
  object-fit: contain;
  overflow-clip-margin: content-box;
  overflow: clip;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.has-padding {
  padding: 0 6rem;
}

::-webkit-scrollbar {
  background-color: #000;
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: #eb7400;
  border-radius: 10px;
}
.slider {
  margin-top: 400px;
}
.bg__dark {
  background-image: url(../public/images/main-bg.jpg);
  padding-bottom: 50px;
  user-select: none;
  direction: rtl;
}

/*****************************************************************/
/* SingleProduct */
.product__content {
  display: flex;
  padding: 1.4rem 5% 0;
  gap: 1rem;
  overflow: auto;
  height: 492.641px;
}
.product__gallery {
  display: flex;
  gap: 1rem;
  flex-shrink: 0;
  height: 100%;
  position: sticky;
  top: 0;
}
.product__gallery__images {
  width: 100px;
  height: 95%;
  overflow: auto;
  padding: 0.2rem;
}
.product__gallery__images__item {
  cursor: pointer;
}
.product__gallery__images__item.active img {
  box-shadow: 0 0 5px 2px var(--color1);
}
.product__gallery__main__image img,
.product__gallery__images__item img {
  border-radius: 10px;
}
.product__gallery img {
  max-width: 100%;
  max-height: 100%;
}
.product__gallery__main__image {
  height: 95%;
  position: relative;
}
.favorite {
  top: 1rem;
}
.product__gallery__main__image__icon {
  position: absolute;
  left: 0.7rem;
  background: rgba(0, 0, 0, 0.55);
  border-radius: 10px;
  padding: 0.5rem 0.9rem;
  display: flex;
  align-items: center;
  transition: 0.2s all;
  cursor: pointer;
  z-index: 2;
}
.zoom {
  top: 3.7rem;
}
.product__info {
  padding: 1rem;
  flex-grow: 1;
  position: relative;
  /* overflow-y: hidden; */
}
.product__info__1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.product__info__title {
  padding-bottom: 1.6rem;
  direction: ltr;
}
.product__info__title::before {
  content: "";
  height: 0.05rem;
  background: var(--color1);
  opacity: 0.5;
  width: 100%;
  position: absolute;
  bottom: 0.9rem;
  left: 0;
}
.product__info__2 {
  position: relative;
  color: #fff;
}
.ms-1 {
  margin-left: 0.25rem !important;
}
.product__info__2__rating[data-v-393dcffe] {
  position: absolute;
  left: 0;
  top: 0;
}
.rating[data-v-771deb17] svg {
  margin-right: 0.3rem;
  width: 1.1rem;
}
.sub__title {
  margin-bottom: 1.5rem !important;
}
.sub__title__name {
  font-size: 1rem;
  margin-inline-end: 5px;
}
.color_name {
  color: var(--color1);
  margin-inline-start: 0.2rem;
  font-size: 0.9rem;
}
.product__info__cats {
  color: var(--color1);
}
.product__info__price {
  display: inline-block;
  font-size: 1.5rem;
  color: var(--color1);
  direction: rtl;
}
.product__info__3 {
  margin-top: 1.2rem;
}
.colors {
  height: 160px;
}
.product__colors {
  width: 94%;
  display: flex;
  overflow: auto;
  position: absolute;
  padding-bottom: 0.4rem;
  margin-top: 0.8rem;
  align-items: flex-start;
}
.product__colors__item {
  position: relative;
  margin-left: 0.9rem;
}
.product__colors__image {
  width: 70px;
  border-radius: 6px;
  overflow: hidden;
}
.product__colors img {
  max-width: 100%;
  max-height: 100%;
}
.product__colors__image img {
  height: auto;
  border-radius: 6px;
}
.sub__title__box {
  margin-top: 10px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.product__sizes__item__0 {
  position: relative;
  border: 1px solid var(--color1);
  color: var(--color1);
  vertical-align: baseline;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 0.9rem;
}
.product__sizes {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  margin-top: 0.7rem;
}
.product__sizes .product__sizes__item {
  position: relative;
  border: 1px solid white;
  padding: 5px 20px;
  vertical-align: baseline;
  border-radius: 5px;
  cursor: pointer;
  width: auto;
}
.product__sizes .product__sizes__item > span {
  height: 20px;
  display: block;
  white-space: nowrap;
}
.product__sizes__item:hover,
.product__sizes__item.selected {
  color: #000;
  font-weight: 700;
  background-color: #ededed;
}
.product__info__4 {
  margin-top: 3.6rem;
  position: relative;
  display: flex;
  justify-content: space-between;
}
.product__info__4::before {
  content: "";
  height: 0.05rem;
  opacity: 0.5;
  background: var(--color1);
  width: 100%;
  top: -20px;
  position: absolute;
}
.product__quantity__container {
  display: flex;
  gap: 1.9rem;
  align-items: center;
}
.product__quantity__container {
  display: flex;
  gap: 1.9rem;
  align-items: center;
}
.product__quantity {
  display: flex;
  gap: 0.5rem;
}

.product__quantity__plus,
.product__quantity__minus {
  border-radius: 6px;
  background-color: #414040;
  font-size: 1.3rem;
  padding: 0 0.4rem;
  width: 2.2rem;
  height: 2.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.product__quantity__input {
  width: auto;
  padding: 0 1.5rem;
  line-height: 2.2rem;
  height: 2.2rem;
  background: transparent;
  border: 2px #707070 solid;
  border-radius: 6px;
}
.product__quantity__minus svg {
  color: #b6b6b6;
}
.orange__button {
  padding: 0.3rem 1.3rem;
  background: var(--color1);
  border-right: 10px;
  border-radius: 5px;
  color: #000;
  font-size: 1.15rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.orange__button:hover {
  background-color: var(--color1hover);
}
.orange__button__text {
  display: inline-block;
  margin-inline-end: 1.4rem;
  transform: translateY(-2px);
}
.product__specification {
  font-size: 15px;
}
.collapse-btn {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  padding: 1rem 0 1.4rem;
  position: relative;
  cursor: pointer;
}
.collapse-btn::before {
  content: "";
  bottom: 10px;
  left: 0;
  width: 100%;
  position: absolute;
  height: 1px;
  background: var(--color4);
}
.collapse-btn button {
  position: relative;
}
.collapse-btn button svg {
  opacity: 1;
  transition: 0.2s all;
  position: absolute;
  left: 1rem;
  top: 50%;
  transform: translateY(-50%);
}

/* side cart */
.side__cart {
  display: flex;
  flex-direction: column;
  position: fixed;
  height: 100%;
  width: 350px;
  left: 0;
  top: 0;
  background: rgba(128, 128, 128, 0.65);
  border-radius: 0 10px 10px 0;
  backdrop-filter: blur(17px);
  padding: 1.3rem 0.5rem 0.2rem;
  transform: translate(-350px);
  transition: all 0.4s ease-in-out;
}
.side__cart.open {
  z-index: 100;
  opacity: 1;
  transform: translate(0);
}
.side__cart__header {
  display: flex;
  justify-content: space-between;
  font-size: 1.1rem;
  align-items: center;
}
.side__cart__header__close {
  cursor: pointer;
}
.side__cart__items__container {
  flex-grow: 1;
  overflow: auto;
  margin-left: -5px;
  padding: 0 0.7rem;
  padding-top: 20px;
}
.side__cart__item {
  display: flex;
  flex-direction: column;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10px;
  height: auto;
  overflow: hidden;
  margin-bottom: 1rem;
  position: relative;
  background-image: url(https://api-pashik.cheshbaste.com/storage/88c54e96-4700-4e4d-bc63-0bf7ef41bb22/variety-34758.jpg);
  max-height: 161px;
}
.side__cart__item__top {
  padding: 2rem 1rem;
  background-color: rgba(0, 0, 0, 0.471);
  border-radius: 10px 10px 0 0;
}
.side__cart__item__top__info {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  background: transparent;
}
.side__cart__item__top__info div {
  font-size: 14px;
}
.side__cart__select__quantity {
  display: flex;
  gap: 0.3rem;
}
.side__cart__select__quantity button {
  border-radius: 2px;
  padding: 0.2rem;
  background: rgba(128, 128, 128, 0.46);
  display: flex;
  align-items: center;
}
.side__cart__item__bottom {
  display: flex;
  justify-content: center;
  padding: 0.7rem;
  gap: 2rem;
  background: rgba(235, 116, 0, 0.78);
  border-radius: 0 0 10px 10px;
  position: relative;
}
.side__cart__item__price__unit {
  margin-right: -0.8rem;
}
.side__cart__item__bottom__delete {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
}
.side__cart__item__bottom__delete button {
  display: flex;
  align-items: center;
  border-radius: 50%;
  padding: 0.3rem;
  border: 1px solid white;
  transition: all 0.2s;
  cursor: pointer;
}
.side__cart__item__bottom__delete button svg {
  width: 12px;
  height: 12px;
}
.side__cart__buttons {
  background: rgba(0, 0, 0, 0.43);
  padding: 0.3rem;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  margin-top: 0.4rem;
  font-size: 1.15rem;
}
.side__cart__buttons__price {
  display: flex;
  padding: 0.7rem 1rem;
}
.side__cart__buttons__price__total {
  margin-right: 1rem;
  margin-left: 0.3rem;
}
.side__cart__buttons__cart {
  width: 100%;
  padding: 0.8rem 0;
  background: black;
  border-radius: 10px;
  text-align: center;
  transition: 0.2s all;
}
/* Toastify */
.Toastify__toast {
  font-family: "vazir" !important;
  text-align: right;
  font-size: 14px !important;
  direction: rtl !important;
}

/******************************************************************/
/* responsive */
@media only screen and (max-width: 1080px) {
  .product__sizes__item__0,
  .product__gallery {
    display: none;
  }
  .product__info__price__amount {
    font-size: 16px;
  }
  .product__info__title {
    font-size: 1rem;
  }
  .product__content {
    margin-top: 30px;
  }
  .side__cart {
    height: 90%;
  }
  .side__cart__buttons__cart {
    font-size: 17px;
  }
  .side__cart__buttons__price {
    font-size: 16px;
  }
  .side__cart__header {
    font-size: 1rem;
  }
  .side__cart__header svg {
    width: 1.3rem;
  }
}

@media only screen and (max-width: 768px) {
  .product__quantity__container {
    display: none !important;
  }
  .product__info__title {
    font-size: 1rem;
  }
  .product__info__code {
    font-size: 0.8rem;
  }
}
